.blog {
    width: 80%;
    height: max-content;
    min-width: 345px;
    max-width: 620px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    color: gray;
}

.blog:hover {
    border-color: darkgray;
}